@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020808;
    height: 100vh;
}

#container-border{
        padding: 1px;
        max-width: 302px;
        background: radial-gradient(circle, black 0%, #111e4c 50%, black 75%);
        animation: border-gradient-animation 10s ease infinite;
        background-size: 300% 300%;
    }

    @keyframes border-gradient-animation{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

#container{
    background-color: #0c1010;
    color: whitesmoke;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    animation: border-gradient-animation 10s ease infinite;
}

#container form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

#container form input{
    background-color: #323232;
    border: solid 1px #484848;
    color: whitesmoke;
    border-radius: 2px;
    position: relative;
    width: 100%;
}

/* #container form #username, #container form #password{
    margin-bottom: 5px;
} */

#container form button{
        margin-top: 20px;
        border: none;
        background: linear-gradient(
        40deg,
        rgba(252, 63, 251, 1) 0%,
        rgba(107, 0, 255, 1) 50%,
        rgba(64, 252, 121, 1) 100%
        );
        background-size: 300% 300%;
        animation: gradient-animation 10s ease infinite;
        padding: 5px 0;
        cursor: pointer;
    }

    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
    }

#container .error{
    color: rgb(233, 53, 53);
}

/* Invalids div */

#container form span.invalid::before{
    content: '';
    background-color: rgb(231, 71, 71);
    width: 20px;
    height: 20px;
    border: solid 1px rgb(110, 80, 80);
    border-radius: 16px;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    z-index: 1;
}

form span{
    position: relative;
}

form span i{
    position: absolute;
    color: rgb(110, 80, 80);
    top: 50%;
    right: 6px;
    z-index: 2;
    transform: translateY(-50%);
    opacity: 0;
}

form span.invalid i{
    opacity: 1;
}